:root {
  --color-content: #f0f2f5;
  --color-grey-light-1: #65676b;
  --color-grey-light-2: #656781;
  --color-grey-light-3: #76787c;
  --color-border-bottom: #ced0d4;
  --color-hover: #e4e6eb;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open-Sans", sans-serif;
  line-height: 1.34;
  background: #f0f2f5;
  overflow-x: hidden;
}

/* General css classes */

/* .web_container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
} */

/* .web_row {
  display: flex;
}   */

/* .container {
  max-width: 1350px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1350px; */
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
  z-index: 1000;
}
.header_mobile {
  display: none;
}
/* .nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}   */

.logo {
  height: 3.8rem;
  width: 3.8rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
  cursor: pointer;
}

.header_logo {
  width: 20%;
}
.search_bar,
.header_logo {
  display: flex;
  align-items: center;
  position: relative;
}
.search {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
}
.search_button {
  border: none;
  background-color: transparent;
}

.search_icon {
  font-size: 1.6rem;
  color: var(--color-grey-light-3);
  position: absolute;
  top: 15px;
  left: 19px;
}
.search_input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-content);
  border: none;
  padding: 1.2rem 3rem;
  border-radius: 10rem;
  width: 25rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
  transition: all 0.2s;
}
.search_input:focus,
.search_input:hover {
  background-color: #e7e7e9;
  outline: none;
}
.search_input::-webkit-input-placeholder {
  font-weight: 100;
}
.center_icons {
  margin: 0 auto;
  max-width: 603px;
  display: flex;
  padding: 0.8rem;
}

.center_icons_header {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  margin: 0 5px 0 5px;
  cursor: pointer;
  color: #65676b;
  position: relative;
  padding: 12px 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.center_icons_header_svg {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  cursor: pointer;
  color: #65676b;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center_icons_hover:hover {
  background: var(--color-content);
  border-radius: 5px;
}
.center_icons_header i.active::after {
  content: "";
  position: absolute;
  top: 5.2rem;
  right: 0;
  border-bottom: 3.7px solid #1b74e4;
  width: 10rem;
  transition: color 0.5s;
}

.center_icons_header i.active {
  color: #1b74e4;
}

.user_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  /* margin-right: 0.5rem; */

}

.nav_icon {
  padding: 0 0.5rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.fa-bell {
  background: #e4e6eb;
  padding: 1rem;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: relative;
}
.nav_icon i,
.nav_icon-i {
  background: #e4e6eb;
  padding: 1rem;
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
}

.nav_icon_notification {
  position: absolute;
  bottom: 2.7rem;
  left: 2.9rem;
  background: #e41e3f;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 2px 4px;
  color: #fff;
}
.user_photo_icon {
  background: #e4e6eb;
  padding: 0px;
  border-radius: 50px;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: relative;
}
.nav_icon i:hover,
.nav_icon-i:hover,
.fa-bell:hover {
  background: #d8d8d8;
}

.user_bars {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  position: relative;

}

.user_bars_icon i {
  padding: 2px 10px;
  display: flex;
  align-items: center;
  font-size: 2.3rem;
  margin: 0 10px 0 10px;
}

.user_bars_position {
  margin-left: -3rem;
  position: absolute;
  bottom: -1.5rem;
}

.user_photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50px;
  position: relative;
}
.nav_icon .user_photo_icon {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  background: #e4e6eb;
  border-radius: 50px;
  padding: 0.8rem;
}
.nav_icon_user_notification {
  position: absolute;
  background: #e41e3f;
  height: 1rem;
  width: 1rem;
  top: 0.8rem;
  right: 1rem;
  border-radius: 50px;
  padding: 0.5rem;
  border: 1px solid #65676b;
}

/* Main Section */

.main_section {
  display: flex;
  background: #f0f2f5;
  max-width: 1300px;
  margin: 60px auto 0 auto;
  /* overflow: hidden;
  max-height: 100vh; */
}

.left_section {
  width: 20%;
  /* flex: 0 0 22%; */
  /* height: 95vh; */
  /* height: 80vh; */
  /* width: 22%; */
  overflow: hidden;
  overflow-y: scroll;
  background: #f0f2f5;
  padding: 20px 6px 5px 0px;
  position: sticky;
  top: 60px;
  left: 0;
  overflow: auto;
  height: calc(100vh - 60px);
  /* border-bottom: 1px solid #ced0d4; */
}

.left_section::-webkit-scrollbar {
  width: 10px;
}
.left_section::-webkit-scrollbar-track {
  border-radius: 20px;
}
.left_section::-webkit-scrollbar-track-piece {
  width: 50%;
}
.left_section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f0f2f5;
}
.left_section:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.left_nav {
  display: flex;
  margin: 0 10px;
  align-items: center;
  padding: 10px 0px 5px 5px;
  cursor: pointer;
  width: 100%;
}

.left_nav i {
  font-size: 1.8rem;
  color: #1b74e4;
}

.left_nav p {
  font-size: 1.3rem;
  color: var(--color-grey-light-3);
  color: #474748;
  padding-left: 5px;
  font-weight: 600;
}
.see_more {
  color: var(--color-border-bottom) !important;
  font-size: 2.4rem !important;
}

.left_nav:hover {
  background: var(--color-hover);
  border-radius: 8px;
}
.left_nav_img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
  object-fit: cover;
  object-position: center;
}
hr {
  width: 100%;
  height: 1px;
  background: #cccccc;
  margin: 1.5rem 0;
  border: 0;
}
.heading_shortcuts {
  font-size: 1.6rem;
  color: #919191;
  padding: 0 0 0 15px;
}
.edit {
  font-size: 1.3rem;
  color: #1b74e4;
  float: right;
  position: relative;
  bottom: 3rem;
  opacity: 0;
  padding: 5px;
  cursor: pointer;
  transition: color 0.5s;
}
.edit:hover {
  opacity: 1;
  background: var(--color-hover);
}
.legal {
  font-size: 1.2rem;
  padding: 1.5rem;
  color: #919191;
}
.legal_span {
  cursor: pointer;
}
.legal span {
  cursor: pointer;
}
.legal_span:hover {
  border-bottom: 1px solid #919191;
}

/* CENTER SECTION START */

.center_section {
  /* width: 50%; */
  /* flex: 1; */
  height: auto;
  padding: 20px 0 0 0;
  margin: 0 auto;
  max-width: 603px;
  background: #f0f2f5;
  /* margin-left: 26.5%; */
}

.center_section::-webkit-scrollbar {
  width: 0;
}

.top__box {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 6px;
  margin-left: 3%;
}

.my__story-card {
  width: 140px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
  background: #fff;
  animation: pulsate 1s;
}

.my__story-card img {
  width: 100%;
  height: 80%;
}

.my__story-card img:hover {
  animation: pulsate 1s;
}

.story__upload {
  width: 100%;
  height: 0px;
  background: #fff;
  position: relative;
  bottom: -28px;
  cursor: pointer;
}
.cards__plus {
  position: absolute;
  bottom: 15px;
  left: 47px;
  font-size: 3rem;
  height: 42px;
  width: 42px;
  color: #fff;
  border-radius: 50px;
  display: flex;
  padding: 0rem 0.7rem 0rem 0.9rem;
  background: #0571ed;
  text-align: justify;
  border: 3px solid #fff;
  cursor: pointer;
}
.story__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
}

.story__card {
  width: 140px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  animation: pulsate 1s;
}

.image__pulsate {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image__pulsate:hover {
  animation: pulsate 1s;
}

.story__profile {
  position: relative;
  bottom: 247px;
  margin-left: 10px;
}

.story__profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #1b74e4;
  object-position: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #27cc37;
  border: 2px solid #fff;
  bottom: 18px;
  left: 29px;
  position: relative;
}

.story__name {
  position: relative;
  top: 166px;
  padding: 0 5px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/* Smash-Code Section Starts */
.smash-code {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  transform: translateY(35px);
  box-shadow: 0px 1px 1px #95979a;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  width: 53rem;
  height: auto;
  margin: 20px auto;
}

.smash-code-top {
  display: flex;
  padding: 12px 15px;
  position: relative;
}
.smash-code-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.smash-code-action {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.9rem;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  padding: 8px 0px 5px 8px;
}
.smash-code-action:hover {
  background-color: #dfdfe2;
}

.smash-code-name-h4 {
  font-size: 15px;
  color: #050505;
  cursor: pointer;
}
.smash-code-name-h4:hover {
  text-decoration: underline;
}

.smash-code-logo-img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
}

.smash-code-content {
  font-size: 13px;
  padding: 8px 20px;
  line-height: 20px;
  color: #727272;
}
.smash-code-name-time {
  font-size: 11px;
  color: #95979a;
  cursor: pointer;
}
.smash-code-content-web-link {
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 500;
}
.smash-code-content-hashtags {
  color: #1876f2;
}
.smash-code-image {
  width: 53rem;
  height: auto;
}
.smash-code-image img {
  width: 100%;
  height: 100%;
  /* border-bottom: 2px solid #cccccc; */
  box-shadow: 0px 1px #cccc;
  object-fit: contain;
}
.smash-code-insights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 0 4rem;
}
.smash-code-ads {
  font-size: 14px;
  color: #1b74e4;
  font-weight: 600;
}
.smash-code-btn-boostpost {
  background: #1b74e4;
  padding: 10px 12px;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  outline: none;
}
.smash-code-likes-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smash-code-logo-like,
.smash-code-logo-like-comments {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 1.5rem;
  color: #6a6a6a;
  cursor: pointer;
}
.smash-code-logo-like-comments-span {
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-size: 1.3rem;
  color: #6a6a6a;
  cursor: pointer;
}
.smash-code-logo-like-comments-span-love {
  display: flex;
  align-items: center;
  padding: 0 3px 0 0;
  font-size: 1.3rem;
  transform: translateX(-4px);
  color: #6a6a6a;
  cursor: pointer;
}

.smash-code-like-comments-share {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1rem;
}
.smash-code-comments-bar {
  display: flex;
}
.smash-code-comments-logo-image {
  position: relative;
  left: 1rem;
}
.img-comments-bar {
  position: absolute;
  top: 24px;
  left: 23px;
  height: 15px;
  width: 15px;
}
.smash-code-comments-bar-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5rem 0rem 1rem 1.6rem;
  border: none;
  border-radius: 50px;
  background-color: var(--color-content);
  padding: 1px;
  font-size: 1.4rem;
}

.smash-code-comments-bar-icon {
  opacity: 50%;
  padding: 3px 5px 2px 5px;
  cursor: pointer;
  border-radius: 50px;
}
.smash-code-comments-bar-icon:hover {
  /* background-color: #d8d8d8; */
  background-color: #e7e7e9;
  outline: none;
}
.smash-code-comments-bar-search-bar {
  width: 290px;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 5rem 0;
  width: 100%;
}
.smash-code-btn-load {
  background: #fff;
  background-color: none;
  padding: 5px 20px;
  color: #919191;
  font-size: 16px;
  border: 1px solid #919191;
  border-radius: 5px;
  cursor: pointer;
}

/* Smash-Code Section End */

.cards-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  transform: translateY(35px);
  box-shadow: 0px 1px 1px #95979a;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  width: 53rem;
  height: auto;
  margin: 0 auto;
}
.cards-two__photo-1 {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
}
.cards-two__header-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  height: 6.5rem;
  width: 45rem;
  transform: translateX(2rem);
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  cursor: pointer;
}
.cards-two__input {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-content);
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 100px;
  width: 42rem;
  margin-left: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}
/* .cards-two__input:focus,
.cards-two__input:hover {
  background-color: #e7e7e9;
  outline: none;
} */

.cards-two__B {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 21px;
}
.cards-two__item {
  padding: 0px;
}
.cards-two__link {
  display: flex;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  align-items: center;
}

.cards-two__link:hover {
  background-color: #f7f7fa;
}
.cards-two__icon {
  display: flex;
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.2rem;
}
.cards-two__font {
  font-size: 1.35rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #65676b;
}
.cards-two__icon-color-1 {
  opacity: 50%;
}

.cards-three {
  width: 53rem;
  height: auto;
  margin: 0 auto;
}

.cards-three__header-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  height: 6.5rem;
  transform: translateY(5rem);
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
.cards-three__img-seeo {
  width: 100%;
  height: auto;
}
.cards-three__heading-1 {
  color: #59595a;
}
.cards-three__para {
  color: #95979a;
}
.cards-three__join {
  text-decoration: none;
  color: #0571ed;
}
.cards-three__join:hover {
  text-decoration: underline;
}
.cards-three__icon-2x {
  display: flex;
  transform: translateX(25px);
}
.cards-three__link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.cards-three__icon-color-12 {
  display: flex;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding: 0.6rem 1.5rem 0.5rem 0.75rem;
}

.cards-three__icon-2x {
  display: flex;
  transform: translateX(25px);
}
.aside-heading__3dots {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
}
.cards-three__icon-color-12:hover,
.aside-heading__3dots:hover {
  background-color: #dfdfe2;
  border-radius: 50%;
}
.cards-three__photo-1 {
  position: relative;
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  cursor: pointer;
}
.cards-three__photo-kethy {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100px;
  position: absolute;
  top: 3.08rem;
  left: 4.2rem;
}
.cards-three__khurram-details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: #59595a;
  font-weight: 400;
  height: 7rem;
  width: 100%;
  padding: 0rem 2rem 1rem 2rem;
  transform: translateY(4.9rem);
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
}
.cards-three__BC {
  justify-content: space-around;
  background: #fff;
  transform: translateY(-2px);
  border-bottom: 1px solid #e4e6eb;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  box-shadow: 0px 1px 1px #95979a;
  padding-right: 2rem;
}
.cards-three__img-content {
  padding: 1rem;
  border-right: 2px solid #e4e6eb;
  border-left: 2px solid #e4e6eb;
  cursor: pointer;
}
.cards-three__img-content-1 {
  color: #95979a;
  font-size: 1.1rem;
}
.cards-three__img-content-3 {
  color: #95979a;
  font-size: 1.2rem;
}
.cards-three__img-content-2 {
  color: #59595a;
  font-size: 1.4rem;
}
/* from Responsive css add code */
.cards-three__header-three {
  position: relative !important;
}
.cards-three__photo-k {
  position: absolute !important;
  top: 30px !important;
  left: 48px !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 50px !important;
}
.cards-three__heading-1 {
  margin-left: 15px !important;
}

.cards-three__para {
  margin-left: 19px !important;
}

/* .cards-four {
  transform: translateY(3rem);
  align-items: center;
  width: 53rem;
  height: auto;
  margin: 0 auto;
}
.cards-four__header-four {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  height: 6.5rem;
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
.cards-four__photo-shahid {
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  position: absolute;
  top: 0.5rem;
  left: 1.6rem;
  cursor: pointer;
}
.cards-four__heading {
  position: relative;
  left: 25px;
  bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.cards-four__heading i {
  position: absolute;
  top: 21px;
  right: 38px;
  font-size: 1rem;
}

.cards-four__para-color {
  color: #95979a;
  position: relative;
  top: 20px;
  right: 131px;
  margin-bottom: 25px;
  cursor: pointer;
}

.cards-four__name:hover,
.cards-four__para-color:hover {
  text-decoration: underline;
}

.cards-four__icon-2x {
  display: flex;
  transform: translateX(13rem);
}
.cards-four__icon-color-12 {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.2rem;
  transform: skew(-42deg, 44deg);
  position: relative;
  top: 0;
  left: 5.5rem;
}
.cards-four__icon-color-12:hover {
  background-color: #dfdfe2;
  border-radius: 100px;
}
.cards-four__shahid-details {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #59595a;
  font-weight: 400;
  width: 100%;
  height: 4rem;
  padding: 0rem 2rem;
  transform: translateY(-0.1rem);
  background-color: #fff;
  border-bottom: 1px solid #e4e6eb;
}
.cards-four__img-cartoon {
  width: 100%;
  height: 30rem;
  transform: translateY(-0.3px);
} */
.cards-two-shahid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  transform: translateY(-3px);
  box-shadow: 0px 1px 1px #95979a;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  width: 53rem;
  height: auto;
  margin: 0 auto;
}
.aside-heading__3dots-shahid {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
}
.cards-three__icon-2x-shahid {
  display: flex;
  transform: translateX(106px);
}
/* .cards-four__img-emoji {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.cards-three__icon-color-12-shahid {
  display: flex;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding: 0.6rem 1.5rem 0.5rem 0.75rem;
  transform: translateX(15px);
  position: relative;
  bottom: 2px;
  left: 50px;
}
.cards-three__icon-color-12-shahid:hover,
.aside-heading__3dots-shahid:hover {
  background-color: #dfdfe2;
  border-radius: 50%;
}
/* .cards-four__icon-color-13 {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.2rem;
}
.cards-four__friends-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  left: 2rem;
}
.cards-four__friends-like-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 4rem;
} */

/* CSS For Right Side Bar */

.right_section {
  /* flex: 0 0 22%; */
  /* height: 95vh; */
  /* height: 80vh; */
  /* width: 22%; */
  width: 20%;
  overflow: hidden;
  overflow-y: scroll;
  background: #f0f2f5;
  padding: 20px 10px 5px 6px;
  position: sticky;
  top: 60px;
  right: 0;
  overflow: auto;
  height: calc(100vh - 60px);
}
.sidebar-R {
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
}

.right_section::-webkit-scrollbar {
  width: 10px;
}
.right_section::-webkit-scrollbar-track {
  border-radius: 20px;
}
.right_section::-webkit-scrollbar-track-piece {
  width: 50%;
}
.right_section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f0f2f5;
}
.right_section:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.aside-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  /* margin-bottom: -1rem; */
}
.aside-heading__top {
  font-size: 1.5rem;
  /* color: #59595a; */
  color: #86878b;
  font-weight: 500;
}
.aside-heading__3dots {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
  color: #86878b;
}
.aside-heading__3dots:hover {
  background-color: #dfdfe2;
  border-radius: 100px;
}
.aside-heading__see-all {
  font-size: 14px;
  font-weight: 400;
  color: #0571ed;
  cursor: pointer;
}

.side-navL {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #59595a;
  font-weight: bolder;
  /* margin: 1rem 0 0 1rem; */
  padding-bottom: 1rem;
}
.side-navL__item {
  padding: 0px 8px;
}
.side-navL__item:hover {
  background: var(--color-hover);
  border-radius: 8px;
}
.side-navL__link {
  padding: 0.6rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.side-navL__link span {
  padding: 0 0 0 1.5rem;
  color: #95979a;
}
.side-navL .color-dark {
  color: #474748;
  font-weight: 600;
}
.side-navL__icon {
  height: 2.75rem;
  width: 2.75rem;
  padding: 0.2rem 0;
  opacity: 50%;
}
.side-navL__user-photo-3 {
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.friends {
  cursor: pointer;
  padding: 35px 0px 0px 7px;
  height: 11rem;
}

.friends__photo-4 {
  height: 6rem;
  width: 6rem;
  border-radius: 50px;
  background: #0571ed;
}
.friends__name {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  position: relative;
  bottom: 6rem;
  left: 4.8rem;
  margin-right: 2rem;
  color: #59595a;
}
.friends__name-2d {
  font-weight: 100;
  color: #95979a;
  font-size: 12px;
}
.friends__mutual {
  display: inline-block;
}
.friends__mutual-14 {
  display: flex;
  position: relative;
  bottom: 7.5rem;
  left: 11rem;
  align-items: center;
  color: #95979a;
  font-weight: 100;
}
.friends__mutual span {
  position: relative;
  bottom: 5.7rem;
  left: 8rem;
  height: 2rem;
  width: 2rem;
  background-color: #050505;
  border-radius: 100px;
  border: 1px solid #fff;
  display: flex;
}
.friends__buttons {
  display: flex;
  position: relative;
  bottom: 6.5rem;
  left: 8rem;
}
.friends__btn-1 {
  padding: 0.9rem 2rem;
  margin: 0 0.3rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #0571ed;
  cursor: pointer;
}
.friends__btn-2 {
  padding: 0.9rem 2rem;
  margin: 0 0.3rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #59595a;
  background-color: #e4e6eb;
  cursor: pointer;
}
/* .friends:hover {
  background-color: #dfdfe2;
  border-radius: 8px;
} */
.friends__btn-2:hover {
  background-color: #dfdfe2;
}

.aside-headingB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.border-line {
  position: relative;
  bottom: 60px;
}
.aside-headingB__top {
  font-size: 1.5rem;
  color: #59595a;
  color: #86878b;
  font-weight: 500;
  margin-left: 1rem;
}

.side-navB {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #59595a;
  font-weight: bolder;
  margin: 1rem 0 0 1rem;
  padding-bottom: 1rem;
}
.side-navB__item {
  padding: 5px 8px;
}
.side-navB__item:hover {
  background-color: #dfdfe2;
  border-radius: 8px;
}
.side-navB__link {
  padding: 0.3rem 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.side-navB__link span {
  padding: 0 0 0 1.5rem;
  color: #59595a;
}
.side-navB__icon {
  height: 5rem;
  width: 5rem;
  padding: 0.4rem 0;
  fill: #0571ed;
}
.side-navB__dark {
  color: #050505;
  font-size: 1.4rem;
}

.aside-headingF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1rem;
  margin-left: 1rem;
  position: relative;
}
.search_button-2 {
  position: absolute;
  top: -20px;
  right: 82px;
  cursor: pointer;
}

.search_button-2 i {
  padding: 6px 5px 5px 6px;
}
.search_button-2 i:hover {
  background: #d8d8d8;
  border-radius: 50px;
}
.smash-code-action-contact {
  position: absolute;
  top: -7px;
  right: -6px;
  font-size: 1.9rem;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  padding: 8px 0px 5px 8px;
}
.smash-code-action-contact:hover {
  background-color: #dfdfe2;
}

.aside-headingF__top {
  font-size: 1.5rem;
  color: #59595a;
  font-weight: 500;
}
.aside-headingF__top-b {
  color: #59595a;
  color: #86878b;
}
.aside-headingF__3dots {
  font-size: 2rem;
  font-weight: bold;
  padding: 0rem 1rem 0 0.8rem;
  color: #59595a;
  margin-bottom: 0.5rem;
  margin-right: 0.1rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
}
.aside-headingF__3dots:hover {
  background-color: #dfdfe2;
  border-radius: 100px;
}

.side-navF {
  display: flex;
  font-size: 1.3rem;
  color: #59595a;
  font-weight: bolder;
  margin: 1rem 0 0 1rem;
  padding-bottom: 1rem;
}
.side-navF__item {
  padding: 5px 10px 5px 10px;
  padding: 5px 8px;
}
.side-navF__item:hover {
  background-color: #dfdfe2;
  border-radius: 100px;
}
.side-navF__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.side-navF__link span {
  padding: 0 0 0 1.5rem;
  color: #59595a;
}
.side-navF__icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.4rem 0;
  fill: #95979a;
}

.aside-headingGC__top {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #59595a;
  font-weight: 500;
}
.aside-headingGC__bottom {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
}
.aside-headingGC__bottom-2 {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 9px 0px 6px 6px;
}
.aside-headingGC__plus {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 1.1rem;
}
.aside-headingGC__plus-2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 1.3rem;
  border-radius: 100px;
  background-color: #e4e6eb;
}

.aside-headingGC__bottom:hover,
.aside-headingGC__bottom-2:hover {
  background-color: #dfdfe2;
}
.aside-headingGC__CNG {
  font-size: 1.5rem;
  color: #59595a;
  font-weight: 400;
}

.border-img {
  border-radius: 50px;
  height: 33px;
  width: 33px;
}
.side-navL__item-1 {
  padding: 5px 10px;
}
.border-img-left {
  margin-left: -45px;
}
